<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <div class="container p-3">
    {% if request.user.is_authenticated %}
      <nav class="d-flex justify-content-between align-items-baseline">
        <h1 class="m-0">Hello, {{ request.user }}</h1>
        <div class="d-flex flex-row">
          <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_button "로그아웃" button_type="submit" button_class="btn-outline-secondary mx-1 text-nowrap" %}
          </form>
          <a href="{% url 'accounts:update' %}" class="btn btn-outline-secondary mx-1 text-nowrap">회원정보수정</a>
          <form action="{% url 'accounts:delete' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_button "회원탈퇴" button_type="submit" button_class="btn-outline-secondary mx-1 text-nowrap"  %}
          </form>
        </div>
      </nav>
    {% else %}
    <nav class="d-flex justify-content-end">
      <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary mx-1">로그인</a>
      <a href="{% url 'accounts:signup' %}" class="btn btn-outline-secondary mx-1">회원가입</a>
    </nav>
    {% endif %}
    <hr>
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>